---
permalink: /
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from:
- /about/
- /about.html
---

<section id="about">
    <p>
        I am a PhD candidate in the <a href="https://www.cs.umd.edu">Department of Computer Science</a> at the <a
            href="https://gradschool.umd.edu">University of Maryland, College Park</a>. Currently, I am advised by <a
            href="https://www.cs.umd.edu/~heng/">Dr. Heng Huang</a>.
        I work on efficient and adaptive deep learning.
        Prior to joining UMD, I received my B.Sc. in Computer Engineering from <a href="http://www.en.sharif.edu">Sharif
        University of Technology</a>.
    </p>
</section>

<section id="news">
    <h2>News</h2>
    <ul>
        <li>
            [Jan 2026] <a href="https://arxiv.org/abs/2510.05125">IDIOMoE</a> is accepted at <a
                href="https://iclr.cc">ICLR 2026</a>.
        </li>
        <li>
            [Dec 2025] <a href="https://arxiv.org/abs/2501.15316">ToMoE</a> is accepted at <a
                href="https://jmlr.org/tmlr/">TMLR</a>.
        </li>

        <li>
            [Sep 2025] <a href="https://arxiv.org/abs/2508.12491">CSCR</a> is accepted at <a
                href="https://neurips.cc">NeurIPS 2025</a> as a Spotlight.
        </li>

        <li>
            [Sep 2025] <a href="https://www.arxiv.org/abs/2502.03604">Bilevel-ZOFO</a> is accepted at <a
                href="https://neurips.cc">NeurIPS 2025</a>.
        </li>
        <li>
            [Jun 2025] <a href="https://arxiv.org/abs/2506.07371">ARGUS</a> is accepted at <a
                href="https://iccv.thecvf.com/">ICCV 2025</a>.
        </li>
        <li>
            [Feb 2025] <a href="https://arxiv.org/abs/2412.15341">FT-Unlearn</a> is accepted at <a
                href="https://cvpr.thecvf.com">CVPR 2025</a>.
        </li>
        <li>
            [Jan 2025] <a href="https://arxiv.org/abs/2406.12042">APTP</a> is accepted at <a
                href="https://iclr.cc/Conferences/2025">ICLR 2025</a>.
        </li>
    </ul>

<h2>Research Highlights</h2>
<div id="research-highlights">
    {% for post in site.publications reversed %}
    {% if post.highlight %}
    <div class="publication">
        <div class="publication-image">
            <a href="{{ post.paperurl }}">
                <img src="{{ post.figure }}" alt="{{ post.title }}">
            </a>
        </div>
        <div class="publication-content">
            <h3><a href="{{ post.paperurl }}">{{ post.title }}</a></h3>
            <p class="authors">
                {{ post.authors | replace: 'Reza Shirkavand', '<strong>Reza Shirkavand</strong>' }}
            </p>
            <div class="buttons">
                <a href="{{ post.githuburl }}" class="btn btn--dark btn--tiny">Code</a>
                <a href="{{ post.paperurl }}" class="btn btn--dark btn--tiny">PDF</a>
                {% if post.venueurl %}
                <a href="{{ post.venueurl }}" class="btn btn--dark btn--tiny">{{post.venue}}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
