---
permalink: /
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from:
  - /about/
  - /about.html
---

<style>
.publication {
  border-bottom: 1px dashed lightgrey;
  margin-bottom: 10px;/* This will add a black border at the bottom of each div */
}
</style>



<section id="about">
  <p>
    I am a PhD student in the <a href="https://www.cs.umd.edu">Department of Computer Science</a> at the <a href="https://gradschool.umd.edu">University of Maryland, College Park</a>. Currently, I am under advised by <a href="https://www.cs.umd.edu/~heng/">Dr. Heng Huang</a>.
    My research interests are in the areas of machine learning and computer vision. I am particularly interested in developing efficient and robust deep learning models for visual recognition tasks.
    Prior to joining UMD, I received my B.Sc. in Computer Engineering from <a href="http://www.en.sharif.edu">Sharif University of Technology</a>. I also worked in the industry as a Data Scientist for two years.
  </p>
</section>

<h2>Research Highlights</h2>
<div id="research-highlights">
  {% for post in site.publications %}
    <!-- You can customize this part to display the publication data as you want -->
    <div class="publication">
      <h5>{{ post.title }}</h5>
      <p><i>{{ post.authors }}</i></p>
      {% if post.githuburl and post.paperurl %}
          <p><a href=" {{ post.paperurl }} "><u>Paper</u></a> , <a href=" {{ post.githuburl }} "><u>Code</u></a></p>
      {% elsif post.githuburl %}
          <p><a href=" {{ post.githuburl }} "><u>Code</u></a></p>
      {% elsif post.paperurl %}
          <p><a href=" {{ post.paperurl }} "><u>Paper</u></a></p>
      {% endif %}
    </div>

  {% endfor %}
</div>